In [2]:
import pandas as pd
import numpy as np


df1=pd.read_csv('data1.csv')
df2=pd.read_csv('data2.csv')

print(df1.head(2))
print(df2.head(2))

# a
print(pd.merge(df1,df2,how='inner',on='Name'))

# b
either_day=pd.merge(df1,df2,how='outer',on='Name')
print(either_day)

# c
print(either_day['Name'].count())

# d
both_days=pd.merge(df1,df2,how='outer',on=['Name','Duration']).copy()
both_days.fillna(value='-',inplace=True)
print(both_days.set_index(['Name','Duration']))

     Name  Time of Joining  Duration
0  Aditya                1        30
1   Ayush                1        30
    Name  Time of Joining  Duration
0  pooja                1        30
1  Ayush                1        30
      Name  Time of Joining_x  Duration_x  Time of Joining_y  Duration_y
0    Ayush                  1          30                  1          30
1    Rahul                  2          30                  2          30
2  Jagriti                  1          40                  1          40
3    Sagar                  2          50                  2          50
4    Manav                  2          50                  2          50
5  Vinayak                  2          50                  2          50
6   Edward                  1          40                  1          40
        Name  Time of Joining_x  Duration_x  Time of Joining_y  Duration_y
0     Aditya                1.0        30.0                NaN         NaN
1      Ayush                1.0        30.0                1.0        30.0
2      Rahul                2.0        30.0                2.0        30.0
3    Jagriti                1.0        40.0                1.0        40.0
4      Sagar                2.0        50.0                2.0        50.0
5      Manav                2.0        50.0                2.0        50.0
6    Vinayak                2.0        50.0                2.0        50.0
7      Umesh                1.0        40.0                NaN         NaN
8     Yogesh                2.0        50.0                NaN         NaN
9      Pooja                1.0        30.0                NaN         NaN
10     Edwin                2.0        40.0                NaN         NaN
11    Edward                1.0        40.0                1.0        40.0
12     Harry                1.0        40.0                NaN         NaN
13    Bulbul                2.0        40.0                NaN         NaN
14  Taranjot                2.0        40.0                NaN         NaN
15    Akshay                1.0        40.0                NaN         NaN
16     pooja                NaN         NaN                1.0        30.0
17    Tushar                NaN         NaN                2.0        50.0
18    Shahil                NaN         NaN                1.0        30.0
19  Debarpan                NaN         NaN                1.0        40.0
20
                  Time of Joining_x Time of Joining_y
Name     Duration
Aditya   30                     1.0                 -
Ayush    30                     1.0               1.0
Rahul    30                     2.0               2.0
Jagriti  40                     1.0               1.0
Sagar    50                     2.0               2.0
Manav    50                     2.0               2.0
Vinayak  50                     2.0               2.0
Umesh    40                     1.0                 -
Yogesh   50                     2.0                 -
Pooja    30                     1.0                 -
Edwin    40                     2.0                 -
Edward   40                     1.0               1.0
Harry    40                     1.0                 -
Bulbul   40                     2.0                 -
Taranjot 40                     2.0                 -
Akshay   40                     1.0                 -
pooja    30                       -               1.0
Tushar   50                       -               2.0
Shahil   30                       -               1.0
Debarpan 40                       -               1.0